.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario > div {
    display: flex;
}

.link {
    box-sizing: border-box;
    position: relative;
    display: flex;
    height: 300px;
    color: red;
    flex: 1;
    margin: 0;
} 
.link h2{
    position: absolute;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
}